services:
  redis:
    ports:
      - "6381:6379"
      
  postgres:
    ports:
      - "5432:5432"
      
  prometheus:
    ports:
      - "9092:9090"
      
  grafana:
    ports:
      - "3000:3000"
